ul.social-network{
    list-style: none;
    display: inline;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-instagram:hover{
    color: rgb(228, 113, 132);
}

.fa-github-square:hover{
    color: black;
}

.fa-linkedin-square:hover{
    color: blue;
}