#img-bg{
    background-image: url("https://images.hdqwalls.com/wallpapers/bthumb/error-404-12.jpg");

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}